<div class="row">
    <div
    class="card col-md-3 mb-3 mx-3 pt-3 px-3 text-center"
    style="width: 45rem">
        <div *ngFor="let carImage of carImages" class="card-img-top" style="width: 40rem;">
            <img class="card-img-top" src="{{ imageBaseUrl + carImage.imagePath }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{carImage.carId}} Numaralı Araç</h5>
          <p class="card-text"></p>
          <a href="/rentals/add" class="btn btn-primary">Kirala</a>
          <a href="/cars/update/{{carImage.carId}" class="btn btn-info">Güncelle</a>
        </div>
        </div>
    </div>
    
</div>

