<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Araba Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Kdv'li Fiyat</th>
            <th></th>
        </tr>
    </thead>
</table>

<div class="carousel-inner">
    <div>
       <img class="d-block w-100">
    </div>
 </div>

    <!-- </thead>
    <tbody>
        <tr *ngFor="car">
            <td>{{car.carId}}</td>
            <td>{{car.carName |uppercase}}</td>
            <td>{{car.brandId}}</td>
            <td>{{car.colorId}}</td>
            <td>{{car.modelYear}}</td>
            <td>{{car.dailyPrice |currency}}</td>
            <td>{{car.dailyPrice |vatAdded:18 |currency}}</td>
            <td>{{car.descriptions}}</td>
        </tr>
    </tbody>
</table> -->