<div class="content">
   <div class="col-md-12">
     <div class="card">
       <div class="card-header">
         <h5 class="title">Marka Güncelle</h5>
       </div>
       <div class="card-body">
         <form [formGroup]="carUpdateForm">
           <div class="form-group">
             <input
               type="number"
               id="carId"
               formControlName="carId"
               class="form-control"
               placeholder="Araba Numarası..."
               formGroupName="carId"
             />
             <input
               type="text"
               id="carName"
               formControlName="carName"
               class="form-control"
               placeholder="Araba adı..."
               formGroupName="carName"
             />
           </div>
           <input
               type="number"
               id="brandId"
               formControlName="brandId"
               class="form-control"
               placeholder="Marka Numarası..."
               formGroupName="brandId"
             />
             <input
               type="number"
               id="colorId"
               formControlName="colorId"
               class="form-control"
               placeholder="Renk Numarası..."
               formGroupName="colorId"
             />
             <input
               type="number"
               id="dailyPrice"
               formControlName="dailyPrice"
               class="form-control"
               placeholder="Günlük Fiyat..."
               formGroupName="dailyPrice"
             />
             <input
               type="number"
               id="modelYear"
               formControlName="modelYear"
               class="form-control"
               placeholder="Model Yılı..."
               formGroupName="modelYear"
             />
             <input
               type="text"
               id="descriptions"
               formControlName="descriptions"
               class="form-control"
               placeholder="Açıklamalar..."
               formGroupName="descriptions"
             />
             <input
               type="number"
               id="findeksPoint"
               formControlName="findeksPoint"
               class="form-control"
               placeholder="Findeks Puanı..."
               formGroupName="findeksPoint"
             />
         </form>
       </div>
       <div class="card-footer">
         <button class="btn btn-fill btn-primary" (click)="update()">
           Güncelle
         </button>
       </div>
     </div>
   </div>
 </div>