<div class="col-lg-12">
    <table class="table table-hover table-striped border">
       <thead>
       <tr>
          <th class="text-center" style="width: 50px"></th>
          <th>Müşteri</th>
          <th>Şirket</th>
          <th>Findeks Puanı</th>
       </tr>
       </thead>
       <tbody>
       <tr *ngFor="let customer of customers">
          <th class="text-center">{{ customer.customerId }}</th>
          <td>{{ customer.customerName }}</td>
          <td *ngIf="customer.companyName">{{ customer.companyName }}</td>
          <td *ngIf="!customer.companyName" class="text-muted">Şirket bilgisi yok</td>
          <td>{{ customer.findeksPoint }}</td>
       </tr>
       </tbody>
    </table>
</div>
