<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Kredi Kartı Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="creditCardAddForm">
                    <div class="mb-3">
                        <label for="userId">Kullanıcı Numarası</label>
                        <div class="form-group">
                            <input 
                            type="number" 
                            id="userId" 
                            formControlName="userId" 
                            class="form-control" 
                            placeholder="Kullanıcı Numarası"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cardNumber">Kredi Kartı Numarası</label>
                        <div class="form-group">
                            <input 
                            type="number" 
                            id="cardNumber" 
                            formControlName="cardNumber" 
                            class="form-control" 
                            placeholder="Kredi Kartı Numarası"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="cardNumber">İsminiz / Soy İsminiz</label>
                        <div class="form-group">
                            <input 
                            type="text" 
                            id="fullName" 
                            formControlName="fullName" 
                            class="form-control" 
                            placeholder="İsminiz / Soy İsminiz"/>
                        </div>
                    </div>        
                </form>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
    </div>
</div>